In [1]:
# import requests
# from bs4 import BeautifulSoup

# url = "https://www.weather.go.kr/weather/observation/currentweather.jsp?type=t99&mode=0&stn=0&reg=100&auto_man=m&tm=2018.01.01.19:00&dtm=1"
# response = requests.get(url)

# if response.status_code == 200:
#     html = response.text
#     soup = BeautifulSoup(html, 'html.parser')
#     tmp = soup.select('#content_weather > table > tbody > tr:nth-child(42)>td')

# else : 
#     print(response.status_code)

In [221]:
import requests
from bs4 import BeautifulSoup
from collections import deque

years = list(range(2013,2014))
months = list(range(1,3))
days = [31,28,31,30,31,30,31,31,30,31,30,31]

whole_temp = []

for year in years:
    month_temp = []
    for month, day in zip(months, days):

        url = f"https://www.weather.go.kr/weather/observation/currentweather.jsp?tm={year}.{month}.{day}.01:00&type=t11&mode=0&reg=109&auto_man=m&stn=108"
        print(f"{year}.{month}.{day}")
        response = requests.get(url)

        if response.status_code == 200:
            html = response.text
            soup = BeautifulSoup(html, 'html.parser')


            # 각 날짜 찾기
            day_hour_tr_list = []
            for d in range(1, day+1):
                day_hour_tr = soup.select(f'#content_weather > table > tbody > tr:nth-child({d})')
                day_hour_tr_list.append(day_hour_tr)
                print(month, d)
            day_hour_tr_list.reverse()

            for tr_tag in day_hour_tr_list:
                tr_tag_real =  tr_tag[-1]
                day_temp = []
                
                # 0~23시 append
                for count, i in enumerate(tr_tag_real):
                    txt = i.text
                    for j in range(3, 50, 2):
                        if j == count:
                            day_temp.append(txt.strip())



                month_temp.append(day_temp)
        else : 
            print(response.status_code)
    whole_temp.append(month_temp)

2013.1.31
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
1 10
1 11
1 12
1 13
1 14
1 15
1 16
1 17
1 18
1 19
1 20
1 21
1 22
1 23
1 24
1 25
1 26
1 27
1 28
1 29
1 30
1 31
2013.2.28
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
2 10
2 11
2 12
2 13
2 14
2 15
2 16
2 17
2 18
2 19
2 20
2 21
2 22
2 23
2 24
2 25
2 26
2 27
2 28

In [227]:
whole_temp[0][16]

['-6.5',
 '-7.0',
 '-7.3',
 '-7.5',
 '-7.7',
 '-7.9',
 '-8.1',
 '-8.0',
 '-7.6',
 '-6.7',
 '-5.6',
 '-3.4',
 '-3.6',
 '-3.0',
 '-2.8',
 '-3.1',
 '-3.5',
 '-4.3',
 '-5.0',
 '-5.2',
 '-5.9',
 '',
 '-7.4',
 '-7.6']

In [235]:
import requests
from bs4 import BeautifulSoup
from collections import deque

years = list(range(2013,2019))
months = list(range(1,13))
days = [31,28,31,30,31,30,31,31,30,31,30,31]

whole_temp = []

for year in years:
    month_temp = []
    for month, day in zip(months, days):
        print(year, month)

        url = f"https://www.weather.go.kr/weather/observation/currentweather.jsp?tm={year}.{month}.{day}.01:00&type=t11&mode=0&reg=109&auto_man=m&stn=108"
        response = requests.get(url)

        if response.status_code == 200:
            html = response.text
            soup = BeautifulSoup(html, 'html.parser')


            # 각 날짜 찾기
            day_hour_tr_list = []
            for d in range(1, day+1):
                day_hour_tr = soup.select(f'#content_weather > table > tbody > tr:nth-child({d})')
                day_hour_tr_list.append(day_hour_tr)
            day_hour_tr_list.reverse()

            for tr_tag in day_hour_tr_list:
                tr_tag_real =  tr_tag[-1]
                day_temp = []
                
                # 0~23시 append
                for count, i in enumerate(tr_tag_real):
                    txt = i.text
                    for j in range(3, 50, 2):
                        if j == count:
                            whole_temp.append(txt.strip())



#                 month_temp.append(day_temp)
        else : 
            print(response.status_code)
#     whole_temp.append(month_temp)

2013 1
2013 2
2013 3
2013 4
2013 5
2013 6
2013 7
2013 8
2013 9
2013 10
2013 11
2013 12
2014 1
2014 2
2014 3
2014 4
2014 5
2014 6
2014 7
2014 8
2014 9
2014 10
2014 11
2014 12
2015 1
2015 2
2015 3
2015 4
2015 5
2015 6
2015 7
2015 8
2015 9
2015 10
2015 11
2015 12
2016 1
2016 2
2016 3
2016 4
2016 5
2016 6
2016 7
2016 8
2016 9
2016 10
2016 11
2016 12
2017 1
2017 2
2017 3
2017 4
2017 5
2017 6
2017 7
2017 8
2017 9
2017 10
2017 11
2017 12
2018 1
2018 2
2018 3
2018 4
2018 5
2018 6
2018 7
2018 8
2018 9
2018 10
2018 11
2018 12

In [236]:
len(whole_temp)

52560

In [237]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
import warnings
import datetime
warnings.filterwarnings('ignore')
plt.rc('font', family='Malgun Gothic')

In [238]:
# datetime을 index로 옮겨주는 함수
def datetime_revise(df):
    # python datetime에서는 시간을 0~23시까지밖에 인식을 못하기 때문에 1을 빼준다.
    df.index = pd.to_datetime(df['datetime']) + pd.to_timedelta(df['hour'], unit='hours')
    df.drop(['year', 'month', 'day', 'weekday', 'hour', 'datetime'], axis=1, inplace=True)
    return df

In [239]:
# 시계열 분석을 위해 target값만을 뽑음
def make_df(df, colname):
    df = df.query(f'supplys == "{colname}"')
    return df['target']

In [240]:
# upsamplingm downsampling해줄 수 있도록 하는 함수
def set_freq(df, freq='m'):
    return pd.DataFrame(df.resample(freq).sum())

In [242]:
total = pd.read_csv('data/no_outlier_data.csv')
total = datetime_revise(total)
total.head()

                    supplys  avg_temp  mini_temp  max_temp    target
2013-01-01 01:00:00       A      -3.2       -9.1       2.6  2497.129
2013-01-01 02:00:00       A      -3.2       -9.1       2.6  2363.265
2013-01-01 03:00:00       A      -3.2       -9.1       2.6  2258.505
2013-01-01 04:00:00       A      -3.2       -9.1       2.6  2243.969
2013-01-01 05:00:00       A      -3.2       -9.1       2.6  2344.105

In [244]:
colname = total['supplys'].unique().tolist()

In [248]:
day_time_series = [set_freq(make_df(total, col), freq='h') for col in colname]
day_time_series[1]

                       target
2013-01-01 01:00:00  2169.093
2013-01-01 02:00:00  2051.733
2013-01-01 03:00:00  1923.253
2013-01-01 04:00:00  1927.253
2013-01-01 05:00:00  2047.333
...                       ...
2018-12-31 20:00:00  2668.688
2018-12-31 21:00:00  2606.681
2018-12-31 22:00:00  2540.169
2018-12-31 23:00:00  2407.945
2019-01-01 00:00:00  2290.154

[52584 rows x 1 columns]

In [266]:
day_time_series[0].iloc[1418+8760+8760+8760]

target    0.0
Name: 2016-02-29 03:00:00, dtype: float64

In [274]:
A_df = day_time_series[0]
new_A_df = A_df[A_df['target'] != 0]

ValueError: could not convert string to float: ''

In [288]:
#숫자와 결측치 넣어줘서 변경
import numpy as np
whole_temp_num = []
for num in whole_temp:

    if num != '' :
        after = float(num)
        whole_temp_num.append(after)
    else:
        whole_temp_num.append(np.nan)

In [289]:
len(whole_temp_num)

52560

In [290]:
# df에 넣는다
new_A_df['temp'] = whole_temp_num
new_A_df

                       target  temp
2013-01-01 01:00:00  2497.129  -8.5
2013-01-01 02:00:00  2363.265  -8.4
2013-01-01 03:00:00  2258.505  -8.1
2013-01-01 04:00:00  2243.969  -8.2
2013-01-01 05:00:00  2344.105  -8.2
...                       ...   ...
2018-12-31 20:00:00  3040.868  -3.7
2018-12-31 21:00:00  2973.577  -4.6
2018-12-31 22:00:00  2840.272  -5.4
2018-12-31 23:00:00  2692.385  -5.2
2019-01-01 00:00:00  2583.340  -5.5

[52560 rows x 2 columns]

In [292]:
new_A_df.iloc[20256]

target    721.897
temp       11.900
Name: 2015-04-25 01:00:00, dtype: float64

In [301]:
new_A_df[['temp']].to_csv("data/temperature_hour.csv", index=True)

          target      temp
target  1.000000 -0.827773
temp   -0.827773  1.000000